#result{
    border-style: solid;
    height: 1cm;
    width: 6.3cm;
    margin-bottom: 10px;
}
.button{
    border-style: none;
    height: 1.5cm;
    width: 1.5cm;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
.button-2{
    border-style: none;
    height: 1.5cm;
    width: 3cm;
    background-color:blue;
    color: white;
    margin-right: 10px;

}